@import url('http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css');

body {
  background-color: #b4f2e1;
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;  
  padding : 5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.setdiv{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
}


h1{
  padding: 20px 20px;
  background-color: #ffe9c5;
  color:#fa9191;
  border-radius: 20px;
}

span{
  color:#eb6383;
}

.heading_style{
  padding: 30px 0;
  text-align : center;
  font-family: "Ralelway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  background-color: #fff;
  font-size: 13px;
  margin-bottom: 30px;
}

.cards{
  width: 100%;
  height:auto;
}
.card{
  float: left;
  margin-right: 150px;
  margin-bottom: 30px; 
  background:#FAFAFA;
  padding: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  transition: transform .2s;
}

.card:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}

input {
  width:50%;
  padding: 10px 20px;
  border:none;
  outline:none;
  margin:20px 0;
  text-align: center;
}

.active_class{
  color:#eb6383;
  border-bottom:red;
}


.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.quantity__minus,
.quantity__plus {
  display: block;
  width: 32px;
  height: 33px;
  margin: 0;
  background: #dee0ee;
  text-decoration: none;
  text-align: center;
  line-height: 33px;
  font-size: 20px;
}
.quantity__minus:hover,
.quantity__plus:hover {
  background: #575b71;
  color: #fff;
}
.quantity__minus {
  border-radius: 3px 0 0 3px;
}
.quantity__plus {
  border-radius: 0 3px 3px 0;
}
.quantity__input {
  width: 42px;
  height: 29px;
  margin: 0;
  padding: 0;
  text-align: center;
  border-top: 2px solid #dee0ee;
  border-bottom: 2px solid #dee0ee;
  border-left: 1px solid #dee0ee;
  border-right: 2px solid #dee0ee;
  background: #fff;
  color: #8184a1;
}
.quantity__minus:link,
.quantity__plus:link {
  color: #8184a1;
}
.quantity__minus:visited,
.quantity__plus:visited {
  color: #fff;
}

.container {
  display: flex;
  width: 100%;
  height: 90vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.others { 
  float: right;
}

.listcls{
  margin: 10px 0 10px 0 !important;
  padding: 2px 2px 2px 2px;
} 

.box {
  position: relative;
  width: 25vw;
  height: 60vh;
  border-radius: 0.5 rem;
  background-color: #a5bbdd;
  overflow: hidden;
  transform: translate3d(0,0,0);
  min-width: 20 rem;
  min-height: 35rem;  
  padding:20px 20px 20px 20px;
}

.search-box,.close-icon,.search-wrapper {
	position: relative;
	padding: 10px;
}
.search-wrapper {
	width: 500px;
	margin: auto;
	margin-top: 50px;
}
.search-box {
	width: 80%;
	border: 1px solid #ccc;
  outline: 0;
  border-radius: 15px;
}
.search-box:focus {
	box-shadow: 0 0 15px 5px #b0e0ee;
	border: 2px solid #bebede;
}
.close-icon {
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
  outline: 0;
  cursor: pointer;
}
.close-icon:after {
	content: "X";
	display: block;
	width: 15px;
	height: 15px;
	position: absolute;
	background-color: #FA9595;
	z-index:1;
	right: 35px;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 2px;
	border-radius: 50%;
	text-align: center;
	color: white;
	font-weight: normal;
	font-size: 12px;
	box-shadow: 0 0 2px #E50F0F;
	cursor: pointer;
}
.search-box:not(:valid) ~ .close-icon {
	display: none;
}